body {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

#rhombus-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.rhombus-top-half,
.rhombus-bottom-half {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 0
}

#upLeft, 
#upRight, 
#downLeft, 
#downRight {
  line-height: 1.2;
  white-space: pre;
  margin: 0;
  padding: 0;
}

#upLeft, 
#downLeft {
  text-align: right;
}
  

