* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;}

body {
	width: 90%;
	margin: 0 auto;}

#content {
	overflow: auto;}

#nav, #feature, #footer {
	margin: 1%;}	

.article {
	width: 31.3%;
	float: right;
	margin: 1%;
	background-color: #efefef;}

.column1.article {
	width: 31.3%;
	float: left;
	margin: 1%;
	background-color: #fffbaa;}

.column2.article {
	width: 31.3%;
	float: left;
	margin: 1%;
	background-color: #ffb6aa}

.column3.article {
	width: 31.3%;
	float: left;
	margin: 1%;
	background-color: #aaffd6}

.column3 {
	margin-right: 0%;}

li {
	display: inline;
	padding: 0.5em;}

#nav, #footer {
	background-color: #aab4ff;
	padding: 0.5em 0;}

#feature, .article {
	height: 10em;
	margin-bottom: 1em;
	background-color: #aae5ff;}
